<div class="min-h-screen w-screen font-sans">
    <main class="grow p-4 w-screen max-w-3xl mx-auto">
        {{{ await $slots.main() }}}
    </main>
    <footer class="bg-blue-200 border-t border-blue-500 text-blue-700 p-4">
    <p>Best regards,</p>

    <p>The Articl Team</p>
    </footer>
</div>